<h2>This is a Post</h2>

<h3>by: {{vm.post.author}}</h3>

<img ng-src="{{vm.post.photo_url}}">

<h5>{{vm.post.body}}</h5>

<button ng-click="active = !active">Edit</button>
<form ng-show="active">
  <label>User</label>
  <input ng-model="vm.post.author" value="vm.post.author">
  <label>Comment</label>
  <input ng-model="vm.post.body" value="vm.post.body">
  <label>Photo URL</label>
  <input ng-model="vm.post.photo_url" value="vm.post.photo_url">
  <button ng-click="active = !active">Update</button>
</form>

<button ng-click="vm.delete()">Delete</button>
